{{> navbar}}
<section id="accessBar">
    <div id="whiteSpace">
        {{!-- Div for white space area --}}
    </div>
    <div id="contentArea">
        <ul>
            <li>
                <a href="">Get access to Different Universities/College papers</a>
            </li>
            <li>
                <a href="">Daily Blogs</a>
            </li>
            <li>
                <a href="">MCQ Qestions</a>
            </li>
            <li>
                <a href="">Contribute</a>
            </li>
        </ul>
    </div>
</section>
<section id="shortcutArea">
    <div id="contentShortcuts">
        <div id="mcqShortcut">
            <h3>Mcq Questions</h3>
            <ul>
                <li>
                    <a href="">MCQ Questions for B.sc Maths</a>
                </li>
                <li>
                    <a href="">MCQ Questions for B.sc Physics</a>
                </li>
                <li>
                    <a href="">MCQ Questins for Computer Science</a>
                </li>
                <li>
                    <a href="">MCQ Questins for Verbal Ability</a>
                </li>
                <li>
                    <a href="">MCQ Questins for Quantitative Aptitude</a>
                </li>
            </ul>
        </div>
        <div id="textArea">
            <h2>CollegeSummary</h2>
            <p>Get the latest Updates on Universities and test Yourself with different MCQ Questions (Subjectwise). </p>
            <p>Know More <a href="/about">About Us</a></p>

        </div>
        <div id="questionPaperShortcut">
            <div class="tiles">
                <a href="">HNBGU Bsc Previous Year Question Papers</a>
            </div>
            <div class="tiles">
                <a href="">GBPIET Previous Year Question Papers</a>
            </div>
            <div class="tiles">
                <a href="">JAM Previous Year Papers</a>
            </div>
            <div class="tiles">
                <a href="">JEE Advance Papers</a>
            </div>
        </div>
    </div>
</section>
<section id="blogShortcut">
    
</section>
<script src="script/content.js"></script>