<body>
    {{> navbar}}
    <section id="home">
        <div class="slidercontainer">
            <div class="showSlide fade">
                <img src="images/books.jpeg" />
                <div class="content"><h3>Welcome To CollegeSummary</h3>
                     <p>Get to know about the latest News on Colleges </p>
                    <hr>
                </div>
            </div>
            <div class="showSlide fade">
                <img src="images/myboook.jpeg" />
                <div class="content"><h3>Welcome To CollegeSummary</h3>
                     <p>Get to know about the latest News on Colleges </p>
                    <hr>
                </div>
            </div>

            <div class="showSlide fade">
                <img src="images/test.jpeg" />
                <div class="content"><h3>Welcome To CollegeSummary</h3>
                    <p>Get to know about the latest News on Colleges </p>
                    <hr>
                </div>
            </div>
            <div class="showSlide fade">
                <img src="images/MYBOOK.jpeg" />
                <div class="content"><h3>Welcome To CollegeSummary</h3>
                     <p>Get to know about the latest News on Colleges </p>
                    <hr>
                </div>
            </div>
            <!-- Navigation arrows -->
            <a class="left" onclick="nextSlide(-1)">❮</a>
            <a class="right" onclick="nextSlide(1)">❯</a>
        </div>
    </section>
    <section id="content">
        <h1 class="h1_primary">Available Content</h2>
            <div id="content_cards">
                <div class="card">
                    <img src="images/im.jpeg" alt="Previous Year Questions">
                    <h2 class="h2_primary">Previous Year Questions</h2>
                    <p class="center">Get access to the previous year Question Papers</p>
                    <div class="card_button">
                        <a href="/blogs">Explore more</a>
                    </div>
                </div>
                <div class="card">
                    <img src="images/previous year.jpeg" alt="Previous Year Questions">
                    <h2 class="h2_primary">News/Blogs</h2>
                    <p class="center">Get to know the latest news and blogs</p>
                    <div class="card_button">
                        <a href="/blogs">Explore more</a>
                    </div>
                </div>
                <div class="card">
                    <img src="images/test.jpeg" alt="test">
                    <h2 class="h2_primary">Test Yourself</h2>
                    <p class="center">Take MCQ tests </p>
                    <div class="card_button">
                        <a href="/test">Explore more</a>
                    </div>
                </div>
            </div>
    </section>

    <section id="about">
        <h1>About Us</h1>
        <hr>
        <div class="about_sec">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci, facilis.</p>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore, praesentium.</p>
            <p>Contact No. +91 45875262749</p>
        </div>
        <div class="container">
            <a href="#" class="icon">
                <i class="fab fa-instagram fa-3x"></i>
            </a>
            <a href="#" class="icon">
                <i class="fab fa-facebok fa-3x"></i>
            </a>
            <a href="#" class="icon">
                <i class="fab fa-github fa 3x"></i>
            </a>
            <a href="#" class="icon">
                <i class="fab fa-twitter fa-3x"></i>
            </a>
        </div>
    </section>
    {{> footer }}
    <script src="script/i.js"></script>
    {{!-- <script src="script/navbar.js"></script> --}}
</body>