{{> navbar}}
{{> accessbar}}
<section id="mcqFilters">
    <div id="filterSection">
        <ul>
            <li><a href="#biology">Biology</a></li>
            <li><a href="#cheistry">Chemistry</a></li>
            <li><a href="#computer">Computer Science</a></li>
            <li><a href="#mathematics">Mathematics</a></li>
            <li><a href="#reasoning">Reasoning</a></li>
            <li><a href="#quant">Quantitaive Aptitude</a></li>
        </ul>
    </div>
</section>
<section id="biology" class="forstyle">
    <div id="bioUndergraduate" class="forstyle_1">
        <h2>Biology</h2>
        <ul>
            <li><a href="javascript:void(0);" onclick="biotest_1();">try test</a></li>
            <li><a href="javascript:void(0);" onclick="biotest_2();">try second test</a></li>
            <li><a href="javascript:void(0);" onclick="biotest_3();">try third test</a></li>
            <li><a href="javascript:void(0);" onclick="biotest_4();">try fourth test</a></li>
        </ul>
    </div>
</section>
<section id="chemistry" class="forstyle">
    <div id="chemistryUndergraduate" class="forstyle_1">
        <h2>Chemistry</h2>
        <ul>
            <li><a href="javascript:void(0);" onclick="chemistrytest_1();">try test</a></li>
            <li><a href="javascript:void(0);" onclick="chemistrytest_2();">try second test</a></li>
            <li><a href="javascript:void(0);" onclick="chemistrytest_3();">try third test</a></li>
            <li><a href="javascript:void(0);" onclick="chemistrytest_4();">try fourth test</a></li>
        </ul>
    </div>
</section>
<section id="computer" class="forstyle">
    <div id="computerUndergraduate" class="forstyle_1">
        <h2>Computer</h2>
        <ul>
            <li><a href="javascript:void(0);" onclick="computertest_1();">try test</a></li>
            <li><a href="javascript:void(0);" onclick="computertest_2();">try second test</a></li>
            <li><a href="javascript:void(0);" onclick="computertest_3();">try third test</a></li>
            <li><a href="javascript:void(0);" onclick="computertest_4();">try fourth test</a></li>
        </ul>
    </div>
</section>
<section id="mathematics" class="forstyle">
    <div id="computerUndergraduate" class="forstyle_1">
        <h2>Mathematics</h2>
        <ul>
            <li><a href="javascript:void(0);" onclick="mathematicstest_1();">try test</a></li>
            <li><a href="javascript:void(0);" onclick="mathematicstest_2();">try second test</a></li>
            <li><a href="javascript:void(0);" onclick="mathematicstest_3();">try third test</a></li>
            <li><a href="javascript:void(0);" onclick="mathematicstest_4();">try fourth test</a></li>
        </ul>
    </div>
</section>
<section id="reasoning" class="forstyle">
    <div id="computerUndergraduate" class="forstyle_1">
        <h2>Reasoning</h2>
        <ul>
            <li><a href="javascript:void(0);" onclick="reasoningtest_1();">try test</a></li>
            <li><a href="javascript:void(0);" onclick="reasoningtest_2();">try second test</a></li>
            <li><a href="javascript:void(0);" onclick="reasoningtest_3();">try third test</a></li>
            <li><a href="javascript:void(0);" onclick="reasoningtest_4();">try fourth test</a></li>
        </ul>
    </div>
</section>
<section id="quant" class="forstyle">
    <div id="computerUndergraduate" class="forstyle_1">
        <h2>Quantitative Aptitude</h2>
        <ul>
            <li><a href="javascript:void(0);" onclick="quanttest_1();">try test</a></li>
            <li><a href="javascript:void(0);" onclick="quanttest_2();">try second test</a></li>
            <li><a href="javascript:void(0);" onclick="quanttest_3();">try third test</a></li>
            <li><a href="javascript:void(0);" onclick="quanttest_4();">try fourth test</a></li>
        </ul>
    </div>
</section>
<section id="mcqLoadingSection">

</section>
<script src="script/test.js"></script>
{{!-- <script src="script/test1.js"></script> --}}